<meta
  name="description"
  content="經營個人品牌的網站，讓專業被更多人看見，提高潛在求職機會。在104個人品牌裡，你可以發表作品、專案成就、學習記錄、榮譽事蹟、職場觀點...等，並在這裡和專業人士交流。"
/>
<meta
  property="og:title"
  content="104個人品牌－讓專業被更多人看見，提高潛在求職機會"
/>
<meta property="og:type" content="website" />
<meta property="og:url" content="<%= VUE_APP_PROFILE_URL %>" />
<meta property="og:image" content="https:<%= VUE_APP_CDN_STATIC_URL %>images/og/selfBranding.png" />
<meta property="og:site_name" content="104 個人品牌" />
<meta
  property="og:description"
  content="經營個人品牌的網站，讓專業被更多人看見，提高潛在求職機會。在104個人品牌裡，你可以發表作品、專案成就、學習記錄、榮譽事蹟、職場觀點...等，並在這裡和專業人士交流。"
/>
