<meta
  name="description"
  content="104人力銀行首創求職新功能：通勤地圖找工作，透過定位與交通工具、通勤時間，學校附近打工兼職、離家近好工作、二度就業工作一手掌握，開車、騎車、搭捷運一鍵查詢。找附近工作請上104通勤地圖找工作。"
/>
<meta
  property="og:title"
  content="通勤地圖找工作－用定位和通勤方式快速找到附近好工作｜104人力銀行"
/>
<meta property="og:type" content="website" />
<meta property="og:url" content="<%= VUE_APP_TIME4JOBS_URL %>" />
<meta property="og:image" content="https:<%= VUE_APP_CDN_STATIC_URL %>images/og/time4jobs.png" />
<meta property="og:site_name" content="104人力銀行" />
<meta
  property="og:description"
  content="104人力銀行首創求職新功能：通勤地圖找工作，透過定位與交通工具、通勤時間，學校附近打工兼職、離家近好工作、二度就業工作一手掌握，開車、騎車、搭捷運一鍵查詢。找附近工作請上104通勤地圖找工作。"
/>
<link href="<%= VUE_APP_TIME4JOBS_URL %>"  rel="canonical"/>
