<script type="application/ld+json">
  [
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "104通勤地圖找工作",
      "url": "<%= VUE_APP_TIME4JOBS_URL %>",
      "logo": "https:<%= VUE_APP_CDN_STATIC_URL %>images/og/time4jobs.jpg",
      "description": "104人力銀行首創求職新功能：通勤地圖找工作，透過交通工具、通勤時間，學校附近打工兼職、離家近好工作一手掌握，開車、騎車、搭捷運一鍵查詢。全台最多工作機會，找高薪、福利優工作請上104人力銀行。",
      "contactPoint": [
        {
          "@type": "ContactPoint",
          "telephone": "+886-02-2912-6104",
          "contactType": "Customer Service",
          "areaServed": ["TW"],
          "availableLanguage": ["Chinese"]
        }
      ]
    },
    {
      "@context": "http://schema.org",
      "@type": "WebPage",
      "url": "<%= VUE_APP_TIME4JOBS_URL %>",
      "name": "104通勤地圖找工作 ",
      "publisher": {
        "@type": "Organization",
        "name": "104 人力銀行"
      }
    },
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "https:<%= VUE_APP_DOMAIN_URL %>",
      "name": "104通勤地圖找工作"
    },
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "104 人力銀行",
          "item": "https:<%= VUE_APP_DOMAIN_URL %>"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "104通勤地圖找工作",
          "item": "<%= VUE_APP_TIME4JOBS_URL %>"
        }
      ]
    }
  ]
</script>
