<!DOCTYPE html>
<html lang="en">
  <head>
    <%= _.template(require("html-loader!../../../../templates/include/head/utility.html"))(htmlWebpackPlugin.options.envs) %>
    <title><%= htmlWebpackPlugin.options.title%></title>
    <%= _.template(require("html-loader!../../../../templates/include/head/elog.html"))(htmlWebpackPlugin.options.envs) %>
    <%= _.template(require("html-loader!../../../../templates/include/head/designer-icons.html"))(htmlWebpackPlugin.options.envs) %>
  </head>
  <body>
    <%= _.template(require("html-loader!../../../../templates/include/html/noscript.html"))() %>
    <div id="app"></div>
    <% if(htmlWebpackPlugin.options.envs.VUE_APP_ENV != 'development') { %>
      <% for (var css in htmlWebpackPlugin.files.css) { %>
        <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
      <% } %>
      <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
      <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
      <% } %>
    <% } %>
  </body>
</html>
