html,
body {
  background-color: $gray-300;
  height: 100%;
}

#app {
  min-width: map-get($container-max-widths, "md");
  position: relative;
  padding-top: 30px;
  padding-bottom: 64px + 32px;
  margin-top: -30px;
  min-height: 100%;

  &.no-footer{
    padding-bottom: 64px;
  }
}
