html,
body {
  background-color: $gray-300;
  height: 100%;
}

#app {
  position: relative;
  min-width: 100%;
  padding-top: 98px;
  padding-bottom: 60px;
  min-height: 100%;
  &.normal {
    padding-top: 44px;
  }
  @include media-breakpoint-up(md) {
    margin-top: -30px;
    padding-top: 30px;
    min-width: map-get($container-max-widths, "md");
  }
  &.no-footer{
    padding-bottom: 64px;
  }
}

/* mobile 不需要黑bar */
#globalbar {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}